*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild
.cxx
*.apk
*.aab
*.keystore

# Don't commit captured credentials or vendor binaries used for analysis
app/src/main/jniLibs/arm64-v8a/*.so
